.contact-container {
    @include grid(2, 2rem);

    padding-bottom: 15rem;
}

.logo-contact-image {
    display: flex;
    justify-content: center;
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    img {
        width: 5rem;
        height: auto;
        margin-bottom: 2rem;
    }
}

.intro-contact-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    
    p {
        text-align: left;
    }

    .contact-email {
        
        a {
            width: fit-content;
            font-weight: $boldFont;
            color: $black;
            display: flex;
            align-items: center;

            svg {
                width: 3rem;
                height: 3rem;
            }
    
            p {
                margin: 0 0 0 1rem;
            }
        }
    }
}

.contact-form {
    margin-top: 2rem;
    grid-column: 2 / 3;

    @include grid(2, 1.5rem);

    #name {
        grid-column: 1 / 2;
    }

    #email {
        grid-column: 2 / 3;
    }

    #issue, textarea, #button  {
        grid-column: 1 / 3;
    }
    
    input:not([type='submit']), textarea {
        font-family: $secondaryFont;
        font-weight: $boldFont;
        text-align: left;
        padding-left: 1.5rem;
        opacity: .5;
        width: 100%;
        height: 4rem;
        background-color: transparent;
        border: 1px solid $black;
        border-radius: .4rem;
    }

    textarea {
        height: 20rem;
        max-width: 65rem;
        min-height: 15rem;
        resize: vertical;
    }

    input[type='submit'] {
        background: $orange;
        border: none;
        padding: 2rem;
        border-radius: 1rem;
        font-size: 2rem;

        &:hover {
            scale: 1.05;
            transition: scale .2s;
            cursor: pointer;
        }
    }
}

.contact-effect {
    display: table;
    white-space: nowrap;
    vertical-align: middle;
    background: $orange;
    padding-left: 2rem;
    border-radius: 1.2rem;

    h1 {
        float: left;
        color: $black;
        position: relative;

        span {
            position: absolute;
            right: 0;
            width: 0;
            background: $orange;
            border-left: 3.5px solid $black;
            animation: machine 1.8s infinite alternate steps(25);
        }
    }
}

@keyframes machine {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

.popup-message {
    text-align: center;
    width: 100%;
    height: auto;
    padding: 2rem;
    grid-column: 1 / 3;
    border-radius: .5rem;
    background: rgb(114, 211, 85);
    margin: 0;
}