.footer-container-logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;

    p {
        white-space: nowrap;
    }

    .footer-logos {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    
        img {
            max-width: 5rem;
            min-width: 3rem;
            width: 75%;
            height: auto;
    
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.footer-container .last-sentence {
    font-size: 1.5rem;
}