.footer-logos {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 5rem;

    img {
        width: 5%;

        &:hover {
            transform: scale(1.5);
            transition: transform .2s;
            cursor: pointer;
        }
    }
}