.header-content {
    width: 100%;
    height: 12rem;
    padding: 5rem;
    background-color: $orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    transition: .2s;
    z-index: 999;
    box-shadow: 0 .2rem 1.5rem #333;

    .nav-bar {
        nav ul {
            float: right;
            margin-right: 2rem;

            li {
                display: inline-block;
            }
        }

    }

    .checkbtn {
        float: right;
        line-height: 8rem;
        margin-right: 4rem;
        margin-left: 2rem;
        display: none;
        scale: 1.4;
        
        @include mobile {
            margin-right: 2rem;
        }
    }

    #check {
        display: none;
    }

    @include tablet {
        .checkbtn {
            display: block;
            cursor: pointer;
        }

        .nav-bar nav ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: $orange;
            top: 8rem;
            left: -100%;
            text-align: center;
            transition: all .5s;
            
            li {
                display: block;
                margin: 2rem 0;
                line-height: 3rem;
                
                a {
                    font-size: 2rem;
                    
                    &:hover,
                    &:active {
                        background: none;
                    }
                    
                }
            }
            
        }
        
        #check:checked~.nav-bar nav ul {
            left: 0;
        }
    }

    .enlace {
        position: absolute;
        padding: 2rem 5rem;
    }

    @include desktop {

        display: flex;
        // height: 30rem;
        padding: 2rem;

    }

    #logo-container {
        cursor: pointer;

        @include mobile {
            h1 {
                font-size: 2rem;
            }
        }

        @include tablet {
            text-align: left;
            h1 {
                font-size: 3rem;
            }
        }
    }

    h1 {
        font-size: 4rem;
        font-family: $secondaryFont;
        font-weight: $boldFont;
        color: $black;
        white-space: nowrap;
        
        @include desktop {
            margin: 0;
            text-align: center;
            font-size: 3rem;
        }
    }

    .nav-bar nav {
        display: flex;
        gap: 4rem;
        margin-right: 2rem;
        list-style: none;

        a {
            font-family: $secondaryFont;
            font-weight: $boldFont;
        }

        .underline {
            color: $black;
            display: inline-block;
            position: relative;
            margin-right: 2rem;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: .2rem;
                bottom: 0;
                left: 0;
                background-color: $black;
                transform: scaleX(0);
                transform-origin: bottom right;
                transition: transform .4s ease-in-out;
            }

            &:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }

        @include desktop {
            display: block;
            text-align: center;
            justify-content: center;
        }
    }
}