.header-content {
    width: 100%;
    height: 6rem;
    padding: 5rem;
    background-color: $orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    transition: .2s;
    z-index: 999;
    box-shadow: 0 .2rem 1.5rem #333;

    img {
        min-width: 15rem;
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 4rem;
        font-family: $secondaryFont;
        font-weight: $boldFont;
        color: $black;
    }

    .nav-bar {
        display: flex;
        gap: 4rem;
        margin-right: 2rem;

        a {
            font-family: $secondaryFont;
            font-weight: $boldFont;
        }

        .underline {
            color: $black;
            display: inline-block;
            position: relative;
    
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: .2rem;
                bottom: 0;
                left: 0;
                background-color: $black;
                transform: scaleX(0);
                transform-origin: bottom right;
                transition: transform .4s ease-in-out;
            }
    
            &:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }

}