.skills-container {
    margin: 10rem auto;

    .skills {
        margin-top: 4rem;
        @include grid(2, 4rem);
        text-align: center;
        align-items: center;

        @include tablet {
            display: block;
        }

        p, h2 {
            text-align: left;
        }

        h2 {
            display: flex;
            
            span {
                font-size: 4rem;

                @include tablet {
                    font-size: 3rem;
                }

                @include mobile {
                    font-size: 2rem;
                }
            }
        }

        span:hover {
            color: $orange;
            cursor: default;
            transition: color .2s, scale .2s, transform .2s;
            scale: 1.8;
            transform: translateY(-1rem);
        }
    }

    #myCanvasContainer {

        canvas {
            aspect-ratio: auto 500 / 500;
        }
    }
}