.skills-container {
    margin: 10rem auto;

    .skills {
        margin-top: 4rem;
        @include grid(2, 4rem);
        text-align: center;
        align-items: center;

        p, h2 {
            text-align: left;
        }

        span:hover {
            color: $orange;
            transition: color .2s;
            cursor: default;
        }
    }

    #myCanvasContainer {

        canvas {
            aspect-ratio: auto 500 / 500;
        }
    }
}