.thanks-container {
    margin-bottom: 10rem;

    .thanks-button-container {
        margin: 5rem 0;

        .thanks-button {
            cursor: pointer;
            background: $orange;
            color: $black;
            border: none;
            padding: 2rem;
            border-radius: 1rem;
            font-size: 2rem;

            &:hover {
                scale: 1.05;
                transition: scale .2s;
            }
        }
    }

    .media-icons {
        grid-column: 1 / 4;
        
        i {
            margin: 2rem 5rem 5rem 5rem;
            color: $orange;
            font-size: 4rem;
            transition: scale .5s;
        }
        i:hover {
            scale: 1.2;
        }
    }
}