html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    text-align: center;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: $primaryFont;
    font-size: 1.6rem;
    line-height: 1.8;
    background-size:    100%;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

section[id='experience-container'] {
    scroll-margin: 20rem;
}
section[id='projects-container'], section[id='about-container'] {
    scroll-margin: 15rem;
}
section[id='skills-container'] {
    scroll-margin: 12rem;
}
section[id='contact-container'] {
    scroll-margin: 15rem;
}

p {
    color: $blackFont;
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: $secondaryFont;
}
.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img,
picture {
    font-family: $secondaryFont;
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

h1, h2, h3 {
    font-family: $primaryFont;
    margin: calc($separation / 2) 0;
    font-weight: 300;
    text-align: center;
    line-height: 4rem; 
}

h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}

::-webkit-scrollbar {
    width: 0;
}